form {
  label {
    font-family: $font-secondary;
    color: $color-default;
    font-weight: 700;
  }
  input {
    min-width: 50%;
    max-width: 100%;
    padding: 0.5rem 1rem 0.5rem;
    &:placeholder-shown {
      font-family: $font-secondary;
      font-weight: 900;
      color: $color-dim;
      font-size: 0.6rem;
    }
  }
  .form-control {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
  }
  select {
    background-image: $gradient-background;
    padding: 0.5rem 0.9rem 0.5rem;
    color: $color-light;
    option {
      background-color: $color-secondary;
    }
  }
}
