$dot-color: #252827;
$background: #fff;

$color-primary: #004ffc;
$color-light: white;
$color-dim: #6c6d6d;
$color-line: #ddd9d9;
$color-remove: #ee6181;
$color-add: #51ecc8;

$gradient-background: linear-gradient(
  to bottom,
  #8e74f2,
  #8a74f3,
  #8774f4,
  #8375f5,
  #7f75f6
);
